@*  /*******************************************************************************
 Name:         Layout view
 Author:       Shivani Dubey, Chrome Infotech
 Date:         02/13/2023
 Description:  Weather
 Copyright © 2023 ChromeInfotech Corporation.  All Rights Reserved
 Revisions:
 02/13/2023  1.0.0   SD  Created
*******************************************************************************  *@
@{
    ViewData[Constant.Keys.Title] = Constant.Text.Layout;
   
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecast</title>
   
</head>
<body > 

   
        @RenderBody()

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
   

   
</body>
</html>